
.code {
    font-family: var(--font_code);
    padding: 10px;
    border-radius: 5px;
    margin: 0!important;
    overflow: hidden!important;
    color: var(--gray);
    background: #f1f3f7;
    cursor: pointer;
}

.code:hover {
    background: rgba(22,147,108,0.2);
    color: var(--dark);
}